body {
    background-color: #2F97C1;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

#center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

#center h1 {
    font-size: 65px;
    letter-spacing: 3px;
    margin: 10px;
}

#center h3 {
    font-size: 27px;
    letter-spacing: 2px;
}

nav {
    text-align: center;
}

ol {
    padding: 0;
    margin: 0;
    list-style-type: none;
    font-size: 20px;
    display: inline-block;
}

ol a {
    text-decoration: none;
    color: #fff;
    display: block;
}

ol > li {
    float: left;
    padding: 20px;
    background-color: orange;
    margin-right: 7px;
}

.menuButton {
    -webkit-transition: background-color 0.5s ease-out;
    -moz-transition: background-color 0.5s ease-out;
    -o-transition: background-color 0.5s ease-out;
    transition: background-color 0.5s ease-out;
}

.easy {
    background-color: #97CC04;
}

.easy:hover {
    background-color: #75CC01;
    cursor: pointer;
}

.medium {
    background-color: #F45D01;
}

.medium:hover {
    background-color: #F23D00;
    cursor: pointer;
}

.hard {
    background-color: #D11149;
}

.hard:hover {
    background-color: #D33328;
    cursor: pointer;
}

.custom {
    background-color: #A752C9;
}

.custom:hover {
    background-color: #A430C7;
    cursor: pointer;
}

.info {
    background-color: #53B3CB;
}

.info:hover {
    background-color: #31B1CB;
    cursor: pointer;
}

#info-container {
    background-color: #fff;
    color: #000;
    width: 100%;
    display: none;
    opacity: 0;
    border-radius: 10px;
}

#info-container article {
    padding: 20px;
}

#infoReturn {
    background-color: #2F97C1;
    margin: 0;
    border: none;
    padding: 10px;
    color: #fff;
    position: relative;
    top: 80px;
    right: 48%;
}

#infoReturn:hover {
    cursor: pointer;
}